.Header
  .Header__logo
    JunkGarage
  .Header__box
    .Header__username
      = current_user.name
    .Header__iconLists
      .Header__iconList
        = link_to edit_user_path(current_user) do
          = icon('fas','cog')
     
.Contents
  .Contents__items
    .Contents__item
      イルミネーション
    .Contents__message
      商品一覧
      .Contents__box
        .Contents__btn
          %img{src: "image/images.jpg", alt: "あああ"}
        .Contents__btn
          %img{src: "image/images.jpeg", alt: "いいい"}
        .Contents__btn
          %img{src: "image/ダウンロード.jpeg", alt: "ううう"}
