.Header
  .Header__logo
    JunkGarage
  .Header__box
    .Header__username
      = current_user.name
    %ul.Header__iconLists
      %li.Header__iconList
        = Icon('fab','fa-buffer')
     
.Contents
  .Contents__message
    商品一覧
    .Contents__box
      .Contents__btn
        1
      .Contents__btn
        2
      .Contents__btn
        3

       