.Header{
  height: 150px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .Header__logo{
    font-size: 150px;
    border-bottom: 3px;
    color: lightblue;
  }
  .Header__box{
    display: flex;
    justify-content: flex-end;
    height: 50px;
    width: 40vw;
    .Header__username{
      font-size: 30px;
      color: cadetblue;
      cursor: pointer;
    }
    .Header__iconLists{
      display: flex;
      position: relative;
      .Header__iconList{
        font-size: 20px;
        position: absolute;
        margin:0 10px 0 10px ;
      }
    }
  }
}
.Contents{
  height: 100vh;
  width: 100vw;
  background-color: whitesmoke;
  overflow: scroll;
  display: flex;
  padding: 20px;
  margin: 20px 5px 0 0;
  justify-content: space-around;
  position: relative;
  .Contents__items{
    display: flex;
    justify-content: space-between;
    height: 150px;
    width: 60%;
    .Contents__item{
      font-size: 25px;
      margin: 30px 0 50px 20px;
      color: lightgrey;
      height: 20px;
    }
    .Contents__message{
      height: 70px;
      width: 120px;
      font-size: 30px;
      margin: 20px;
      color: black;
        .Contents__box{
        display: flex;
        justify-content: space-around;
        margin-bottom: 40px;
          .Contents__btn{
          height: 300px;
          width: 250px;
          margin:60px 40px 15px 40px;
          cursor: pointer;
        }
      }
    }
  }
}
